* {
    box-sizing: border-box;
}
.post{
    border:1px solid black;
}
img{
    width:auto;
    height: 200px;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {}

@media screen and (min-width: 1024px) {}